@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.login-container::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #530061, #0d0a30);
  position: absolute;
  top: -10%;
  left: -20%;
  z-index: -200;
}
.login-container::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #530061, #0d0a30);
  position: absolute;
  bottom: -5%;
  right: -5%;
  z-index: -200;
}

.elipsise-container {
  perspective: 200px;
}

.spread-shadow {
  box-shadow: 0px 0px 41px #CFF80B, 40px 7px 41px #CFF80B, -40px 7px 41px #CFF80B;
}
.vehicle-filter {
  filter: blur(1px) brightness(158%) hue-rotate(220deg) saturate(207%) opacity(30%) contrast(115%);
-webkit-filter: blur(1px) brightness(158%) hue-rotate(220deg) saturate(207%) opacity(30%) contrast(115%);
-moz-filter: blur(1px) brightness(158%) hue-rotate(220deg) saturate(207%) opacity(30%) contrast(115%);
}